.container{
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 2000px;
}

.left{
    flex-basis: 50%;
}

.left:hover{
    animation: animate 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.right{
    flex-basis: 50%;
    max-width: 400px;
    margin-left: 100px;
}

.right h1{
    font-size: 50px;
}

.right p{
    font-size: 25px;
    margin: 20px 0px;
}

.discount{
    font-size: 80px;
}

button.explorebtn{
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 20px;
}

#newArrival{
    font-size: 50px;
    text-align: center;
}

.newarrivaltext{
    margin-bottom: 10vh;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,30%);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1em;
    justify-content: center;
}

.wrapper img{
    height: 60%;
}

.wrapper> div{
    position: relative;
}

.wrapper> div img{
    width: 100%;
    overflow: hidden;
}

.price{
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    color: white;
}

#nike{
    padding: 80px 0px;
}

.nike-shoes{
    font-size: 80px;
    text-align: center;
    margin-bottom: 10vh;
}

.nike-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nike-box{
    flex-basis: 20%;
    box-shadow: 2px 3px 5px grey;
    padding: 10px;
}

.nike-box img{
    width: 100%;
}

.nike-box h3{
    margin: 20px;
    text-align: center;
}

.nike-box h2{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
}